
.carousel {
    position: absolute;
    margin: 0 auto;
    width: 40vw;
    border-radius: 25px;
    top: 200px;
    /* margin-bottom: 200px; */
    background: rgb(155, 154, 155);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.623);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.carousel-inner {
    text-align: center;
    margin: 0 auto;
    display: inherit;
    color: white;
    top: 10px;
    border-radius: 25px;
    width:35vw;
    overflow: initial
}

.carousel-item {
    margin: 0 auto;
    font-size: 16px;
    display: inherit;
}

.item {
    line-height: 20px;
    background: none;
    display: inherit;
    width: auto;
    height: auto;
}

a {
    font-weight: bold;
    font-size: 18px;
    float: left;
    padding-left: 40px;
    padding-bottom: 10px;
    color: blue
}

.carousel-caption {
    position: initial;
}

.btn-primary {
    float: right;
    margin-right: 40px;
    margin-bottom: 10px;
}

.carousel-indicators li {
    display: none;
}