.category-col {
  padding: 20px;
  
}

.category-col > div {
  border-radius: 50%;
  /* height: 100px; */
  padding: 35% 0px 35% 0px;
  text-align: center;
  border: 1px solid rgba(190, 190, 190, 0.685);
  background: radial-gradient(rgba(234, 199, 122, 0.315),rgba(192, 141, 31, 0.911)  );
  transition: .3s;
}

.category-col > div:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 10px 1px rgba(187, 180, 180, 0.918);

}