.collapse {
    background-color: rgb(235, 235, 235);
}

#accordion {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

#accordion .card-header {
background: radial-gradient(rgb(119, 192, 216), blue);
}

#accordion .btn {
    color: white;
    text-decoration: none;
    z-index: 2;
    text-decoration: none !important;
    z-index: 2;
}

#accordion .btn:visited {
    text-decoration: none !important;
}

#accordion .btn:hover {
    /* text-decoration: none !important; */
}

.card-body {
    text-align: left;
    /* overflow-y: scroll; */
    width: 100%;
    color: black;
    
}

.article-title {
    padding-top: 10px;
    color: black;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}