#accordion {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    /* overflow-y: scroll; */
}

#accordion .card-header {
    background: radial-gradient(rgb(119, 192, 216), blue);
}

#accordion .btn {
    color: white;
    text-decoration: none !important;
}

#accordion .btn:visited {
    text-decoration: none !important;
}

#accordion .btn:hover {
    color: gold;
}

.card-body {
    text-align: left;
    overflow-y: scroll;
    /* z-index: 3; */
    
}

.article-title {
    padding-top: 10px;
}

h3 {
    font-weight: bold;
}