.button-div {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  left: 0;
}

  .button-div .btn {
    margin-right: 20px;
    /* margin-top: 500px; */
    background-color: purple;
    border-color: purple;
  }

  .btn-primary {
    float: none;
  }

.login-enter {
  opacity: 0.01;
}

.login-enter.login-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.login-leave {
  opacity: 1;
}

.login-leave.login-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

#fail-container {
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

#fail {
  color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background: rgba(179, 10, 10, 0.973);
}


img {
    vertical-align: middle;
    padding-top: 25px;

}

.enter-void {
  padding: 50px;
  border-radius: 10px !important;
  background: purple;
  border: 2px blue;
}

.void {
  color: white;
  margin: auto;
  margin-top: 200px;
}

.void > a {
  color: white !important;
  text-decoration: none !important;
}


h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 52px;
  text-align: center;
}

h5  {

  font-family: 'Caudex', serif;

  font-size: 30px;
  text-align: center;
  color: purple;
  padding-right: 20px;

}


h6  {

  font-family: 'Caudex', serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: purple;
  padding-right: 20px;

}

.stripe1 {
  background-color: gray;

}

.stripe {
  background-color: purple;
  padding: 25px;
}

p1 {
  font-family: 'Great Vibes', cursive;

}
.container1 {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #000 url("./images/albert.jpg") center center;
  background-size: cover;

}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background: #000 url("./images/art.jpg") center center;
  background-size: cover;

}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background: #000 url("./images/history.jpg") center center;
  background-size: cover;

}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: #000 url("./images/code.jpg") center center;
  background-size: cover;

}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: #000 url("./images/monalisa.jpg") center center;
  background-size: cover;

} 
.f {
  transform: rotateY(300deg) translateZ(250px);
  background: #000 url("./images/dinosaur.jpg") center center;
  background-size: cover;


}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: .7em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: -6em; margin-top: 50px; }
.prev { left: -2em; margin-top: 50px; }

.ml12 {
  font-weight: 120;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding-left: 80px;
  padding-bottom: 50px;
  padding-top: 50px;

}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

@font-face {
  font-family: "GalanoGrotesqueW00-Bold";
  src: url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.eot");
  src: local("☺︎"), local("Galano Grotesque W00 Bold"), local("GalanoGrotesqueW00-Bold"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.eot?#iefix") format("embedded-opentype"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.woff2") format("woff2"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.woff") format("woff"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.ttf") format("truetype"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.svg#GalanoGrotesqueW00-Bold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.wavey {
  position: relative;
  display: block;
  background: #D9D5C5;
  text-decoration: none;
  min-height: 320px;
  overflow: hidden;
}

.logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 6vmax;
  min-width: 56px;
  padding: 2em;
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  min-width: 100%;
  min-height: 70%;
  margin: auto 0;
}

img, svg {
  pointer-events: none;
}

* {
    box-sizing: border-box;
}


/* Create three equal columns that floats next to each other */
.column {
  position: relative;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}